* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.blue {
    background-color: rgb(4, 35, 121);
}

.grey {
    background-color: grey;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(136, 136, 136); */
}

main {
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

section {
    background-color: rgba(0, 4, 211, 0.808);
    flex-basis: 7.5rem;
    height: 7.5rem;
    margin: 0.3rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0.3rem;
    border: 3px solid black;
}

article {
    flex-basis: 1.7rem;
    height: 1.7rem;
    margin: 0.2rem;
    border: 2px solid white;
}

.second>article:first-child {
    flex-basis: 100%;
    height: 60%;
}

.third>article:nth-child(1){
    flex-basis: 60%;
}

.third {
    justify-content: flex-end;
}

.third>article:nth-child(3){
    align-self: flex-end;
}

.fourth>article:first-child {
    flex-basis: 100%;
}

.fourth>article:nth-child(2),
.fourth>article:nth-child(3),
.fourth>article:nth-child(4) {
    height: 60%;
}

.fifth {
    justify-content: flex-end;
}

.sixth {
    align-items: center;
}

.sixth>article:first-child {
    flex-basis: 60%;
    height: 60%;
    align-self: flex-end;
}

.seventh {
    align-self: flex-start;
}

.seventh>article:first-child {
    flex-basis: 60%;
}

.seventh>article:nth-child(3) {
    flex-basis: 60%;
    height: 60%;
}

.seventh>article:nth-child(4) {
    height: 60%;
}

.eight>article:nth-child(1),
.eight>article:nth-child(2),
.eight>article:nth-child(3) {
    height: 60%;
}

.eight>article:nth-child(4) {
    flex-basis: 60%;
}

.ninth {
    flex-direction: column;
    justify-content: flex-end;
}

.ninth>article:first-child {
    flex-basis: 60%;
    width: 60%;
}

.ninth>article:nth-child(2) {
    width: 30%;
    align-self: flex-end;
}

.ninth>article:nth-child(3) {
    width: 30%;
    flex-basis: 60%;
}